.tetel{
    margin-bottom: 1.8rem;
    &-unit {
        margin-bottom: .8rem;
    }
}

.tetel-card {
    position: relative;
}

.name{
    font-weight: bolder;
}

.desc {
    padding-left: .8rem;
}

.name, .desc {
    line-height: 1.2rem;
    margin-bottom: 0;
    color: $barna !important;
    width: 100%;
}

.price {
    font-weight: bolder;
    text-align: right;
    color: $barna;
}

.unit-price {
    min-width: 100%;
    text-align: center;
}

.bracket {
    width: 100%;
    height: 100%;
    max-height: 100%;
    fill: $barna;
}
.input-rank{
    width: 5.4rem;
    background-color: $gold;
    color: $barna;
    font-weight: bold;
    border-radius: .25rem;
    text-align: center;
}

.op-0{
    opacity: 0;
}

.tetel-delete-btn{
    position: absolute;
    bottom: 12px;
    right: 20px;
}
