.tetel{
    margin-bottom: 1.5rem;
}

.tetel-card {
    position: relative;
}

.name{
    font-weight: bolder;
}

.desc {
    padding-left: .8rem;
}

.name, .desc {
    line-height: 1.2rem;
    margin-bottom: 0;
    color: $barna !important;
    width: 100%;
}

.price {
    font-weight: bolder;
    text-align: right;
    color: $barna;
}

.input-rank{
    width: 5.8rem;
    background-color: $gold;
    color: $barna;
    font-weight: bold;
    border-radius: .25rem;
    text-align: center;
}

.op-0{
    opacity: 0;
}

.tetel-delete-btn{
    position: absolute;
    bottom: 12px;
    right: 20px;
}
