.tetel{
    margin-bottom: 1.5rem;
}

.name{
    font-weight: bolder;
}

.desc {
    padding-left: .8rem;
}

.name, .desc {
    line-height: 1.2rem;
    margin-bottom: 0;
    color: $barna !important;
    width: 100%;
}

.price {
    font-weight: bolder;
    text-align: right;
}
