.card {
    border: 1px solid rgba($gold, .5);
}

.card-footer {
    background-color: rgba($gold, 0.25);
    border-top: 1px solid rgba($gold, .5);
}

.card-header {
    background-color: rgba($gold, 0.25);
    border-bottom: 1px solid rgba($gold, .5);
}


