.input-hide {
    border: none;
}

.form-control {
    color: $barna;
    border: 1px solid rgba($gold, .5);
}

::placeholder {
    color: $barna;
    opacity: 1;
    /* Firefox */
}

.form-control::-webkit-input-placeholder {
    color: $barna;
}

hr {
    border-top: 1px solid rgba($gold, .5);
}

.bottom-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    z-index: 100;
}
